@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <span>Here are few html tag helpers</span>
    @Html.Raw("<h2>html.raw</h2>")
    @Html.ActionLink("Users", "users", "admin", new { studentid = 5, name = "saroj" }, new { @class = "btn btn-outline-success" })

    @Html.Action("UsersParial", "admin")


    <form id="testform">
        <input type="text" placeholder="username" name="usrname" />
        <input type="password" placeholder="password" name="pwd" />
        <button type="submit">Submit</button>
    </form>

    <canvas id="myChart" width="400" height="400"></canvas>

</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#testform").submit(function (e) {
                e.preventDefault();
                //alert("I am stopping you to submit the form.");
                var result = prompt("Enter a password.")
                if (result == "guddi") {
                   
                    reloadChart();
                }
                else {
                    alert("wrong password");
                }
            });
        });

        function reloadChart() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    </script>
    }